@media (max-width:768px){
    

.score-container{
    color:#ffffff;
    margin-right: 10px;
}
.navbar-img{
    height:30px;
    width:150px;
    
}
.score-no{
    color:#fec653;
    padding-left:10px;
}
.time-no{
    color:#fec653;
    padding-left:10px;
}
.timer-img{
    width:20px;
    height:20px;
}
.timer-container{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.no-container{
    display: flex;
}
}
.nav-list{
    display: flex;
    
    align-items: center;
    
    list-style-type: none;
}
@media (min-width:768px){
    

.score-container{
    color:#ffffff;
    margin-right: 20px;
}
.navbar-img{
    height:50px;
    width:200px;
}
.score-no{
    color:#fec653;
    padding-left:10px;
}
.time-no{
    color:#fec653;
    padding-left:10px;
}
.timer-img{
    width:20px;
    height:20px;
}
.timer-container{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.no-container{
    display: flex;
}
}

